<head>
    <meta charset="UTF-8" />
    <!--<meta name="viewport" content="width=1200" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
        {{ if .Params.ko.title }}
            {{ .Params.ko.title }} - {{ .Site.Title }}
        {{ else if .Params.en.title }}
            {{ .Params.en.title }} - {{ .Site.Title }}
        {{ else }}
            {{ .Title }} - {{ .Site.Title }}
        {{ end }}
    </title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
        {{ with .OutputFormats.Get "rss" -}}
            {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
        {{ end }}
     <script defer src="/scripts/script.js"></script>
</head>
