<html lang="en">
    {{ partial "head.html" . }}
    <body>
        <div class="container biography">
            {{ partial "nav.html" . }}
            <main>
                <section class="biography-title">
                    <p>황수현 Hwang Soo Hyun</p>
                </section>
                
                <section>
                    <div>
                        <span data-lang="ko">{{ .Params.bio_kr | markdownify }}</span>
                        <span data-lang="en">{{ .Params.bio_en | markdownify }}</span>
                    </div>
                </section>
                
                <section>
                    <p>
                        <span data-lang="ko">경력</span>
                        <span data-lang="en">Professional Experience</span>
                    </p>   
                    <hr />
                    <ul>
                        {{ range .Params.experience }}
                            <li>
                                <span class="year">{{ .year }}</span>
                                <span class="description" data-lang="ko">
                                    {{ .description_kr }}
                                </span>
                                <span class="description" data-lang="en">
                                    {{ .description_en | default .description_kr }}
                                </span>
                            </li>
                        {{ end }}
                    </ul>
                </section>

                <section>
                    <p>
                        <span data-lang="ko">수상</span>
                        <span data-lang="en">Awards</span>
                    </p>                    
                    <hr />
                    <ul>
                        {{ range .Params.awards }}
                            <li>
                                <span class="year">{{ .year }}</span>
                                <span class="description" data-lang="ko">
                                    {{ .description_kr }}
                                </span>
                                <span class="description" data-lang="en">
                                    {{ .description_en | default .description_kr }}
                                </span>
                            </li>
                        {{ end }}
                    </ul>
                </section>

                <section>
                    <p>
                        <span data-lang="ko">레지던시숍</span>
                        <span data-lang="en">Residencies</span>
                    </p>
                    <hr />
                    <ul>
                        {{ range .Params.residencies }}
                            <li>
                                <span class="year">{{ .year }}</span>
                                <span class="description" data-lang="ko">
                                    {{ .description_kr }}
                                </span>
                                <span class="description" data-lang="en">
                                    {{ .description_en | default .description_kr }}
                                </span>
                            </li>
                        {{ end }}
                    </ul>
                </section>

                <section>
                    <p>
                        <span data-lang="ko">교육 및 워크숍</span>
                        <span data-lang="en">Teaching & Workshops</span>
                    </p>
                    <hr />
                    <ul>
                        {{ range .Params.education_workshops }}
                            <li>
                                <span class="year">{{ .year }}</span>
                                <span class="description" data-lang="ko">
                                    {{ .description_kr }}
                                </span>
                                <span class="description" data-lang="en">
                                    {{ .description_en | default .description_kr }}
                                </span>
                            </li>
                        {{ end }}
                    </ul>
                </section>

                <section>
                    <p>
                        <span data-lang="ko">안무작</span>
                        <span data-lang="en">Choreographic Works</span>
                    </p>
                    <hr />
                    <ul>
                        {{ range .Params.choreography }}
                            <li>
                                <span class="year">{{ .year }}</span>
                                <span class="description" data-lang="ko">
                                    {{ .description_kr }}
                                </span>
                                <span class="description" data-lang="en">
                                    {{ .description_en | default .description_kr }}
                                </span>
                            </li>
                        {{ end }}
                    </ul>
                </section>

                <section>
                    <p>
                        <span data-lang="ko">협업 및 협력 프로젝트</span>
                        <span data-lang="en">Collaborative & Cooperative Projects</span>
                    </p>
                    <hr />
                    <ul>
                        {{ range .Params.collaborations }}
                            <li>
                                <span class="year">{{ .year }}</span>
                                <span class="description" data-lang="ko">
                                    {{ .description_kr }}
                                </span>
                                <span class="description" data-lang="en">
                                    {{ .description_en | default .description_kr }}
                                </span>
                            </li>
                        {{ end }}
                    </ul>
                </section>

                <section>
                    <p>
                        <span data-lang="ko">출연작</span>
                        <span data-lang="en">Performances</span>
                    </p>
                    <hr />
                    <ul>
                        {{ range .Params.performances }}
                            <li>
                                <span class="year">{{ .year }}</span>
                                <span class="description" data-lang="ko">
                                    {{ .description_kr }}
                                </span>
                                <span class="description" data-lang="en">
                                    {{ .description_en | default .description_kr }}
                                </span>
                            </li>
                        {{ end }}
                    </ul>
                </section>
            </main>
        </div>
    </body>
</html>
